* {
	margin: 0px;
	padding: 0px;
}

#top_wrapper {
	height: 100%;
}

#wrapper_background {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -3;
}

#wrapper_background_pattern {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0.15;
}

#login_btn {
	float:right;
	margin:20px;
}

#content_wrapper {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 25px;
	text-align: center;
}

#content_wrapper p {
	padding-top: 2%;
	font-size: 18px;
}

#sign_up_box {
	text-align: left;
	width: 30%;
	display: inline-block;
	margin: 0px 5%;
}

#preview_box {
	padding: 5% 0px;
	text-align: left;
	width: 30%;
	display: inline-block;
	margin: 0px 5%;
}